$blue: rgb(0 204 255);
$darkBlue: rgb(66 152 209);
$white: rgb(255 255 255);
$darkWhite:rgb(170 170 170);
$lightBlack:rgb(34 34 34);
$darkBlack:rgb(17 17 17);
$gray:rgb(206 217 228);
$darkGray: rgb(154 163 172);
$silverGay:rgb(78 93 106);
$red: rgb(210 4 52);
