@import '@/styles/colors.scss';

.inputLink {
  color: $darkGray;
  font-weight: bold;
  font-size: 20px;
  font-family: Epilogue, sans-serif;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
}
